main {
  padding: 30px;
  margin: auto;
  font-size: 0;
  width: 800px;
}

.box {
  border: solid black 1px;
  display: inline-block;
}

.row-one {
  width: 50%;
  height: 200px;
}

.row-two {
  width: 33.33%;
  height: 300px;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}