main {
  padding: 30px;
  margin: auto;
  font-size: 0;
}

.box {
  border: solid black 1px;
  font-size: 0;
  display: inline-block;
}

.green {
  font-size: 0;
  display: inline-block;
  background-color: green;
  width: 400px;
  height: 200px;
}

.blue {
  font-size: 0;
  display: inline-block;
  background-color: blue;
  width: 400px;
  height: 200px;
}