nav {
  height: 60px;
  width: 100%;
  background-color: grey;
  display: fixed;
}

nav li {
  position: relative;
  display: inline-block;
  left: 150px;
  top: 20px;
}

.profile-pic {
  position: absolute;
  border-radius: 50%;
  left: 100px;
  top: 20px;
  bottom: 5px;
  height: 50px;
  border: 1px solid black;
}

